body {
    margin: 0;
    padding: 0;

    width: 980px;
    margin: 90px auto;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/* Cabeçalho */
header {
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #1b8e99;
}

header nav ul {
    list-style: none;
    display: flex;
}



header nav a {
    color: white;

    text-decoration: none;
    text-transform: uppercase;

    padding: 20px 10px;


}

header nav a:hover {
    background-color: #92c9ce;
}

/* Banner principal */
.banner {
    width: 100%;
    /* Na foto de exemplo está 134px, porem fica mais bonito com 350px */
    height: 350px;

    background-image: url('../img/banner.fw.png');
    background-position: center;
    background-size: cover;
}

/* Submenu */
.submenu {
    height: 45px;

    display: flex;
    align-items: center;
    background-color: #660000;
}

.submenu a {
    color: white;
    font-size: 12px;

    text-decoration: none;
    text-transform: uppercase;
    padding: 25px 10px;
}

.submenu a:hover {
    background-color: white;
    color: #660000;
}


.loja {
    margin-top: 30px;
    margin-bottom: 20px;


}

.produtos {
    color: #660000;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.produtos h1 {


    font-family: tahoma;
    font-weight: bold;

}

.red__line {
    border-color: #660000;
    width: 88%;
    display: block;
    margin: 0 auto 0 0;
}

/* Grid de produtos */
.lista__produtos {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0px;
    ;
    margin-top: 30px;


}

/* Drone A */
.produto__1 {
    border: 0.5px solid #1b8e99;

    padding: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 376px;
    width: 300px;

}

/* título Drone A */
.produto__1 h1 {
    background-color: #1b8e99;
    color: white;
    margin: 0px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
    font-family: tahoma;


}

/* Parágrafo Drone A */
.produto__1 p {
    text-align: left;
    color: #1b8e99;
    font-family: tahoma;
    font-size: 13px;
    padding: 10px;
}

/* Preço Drone A e C */
.shopping-cart {
    background-color: #1b8e99;
    /* Azul claro como na imagem fornecida */
    background-size: cover;
    color: white;
    font-family: tahoma;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0px;
    height: 80px;
    width: 100%
}

.price {
    font-size: 30px;
    padding-left: 20px;
}

.price__2 {
    font-size: 14px;


}

.cart_icon {


    width: 25px;
    /* Largura do ícone */
    height: 25px;
    /* Altura do ícone */
    background-color: white;
    margin-left: 10px;


}

/* Drone B */
.produto__2 {
    border: 0.5px solid #660000;
    width: 300px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 376px;

}

/* título Drone B */
.produto__2 h1 {
    background-color: #660000;
    color: white;
    margin: 0px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
    font-family: tahoma;
}

/* Parágrafo Drone B */
.produto__2 p {
    text-align: left;
    color: #1b8e99;
    font-family: tahoma;
    font-size: 13px;
    padding: 10px;
}

/* Preço Drone B */
.shopping_car2 {
    background-color: #660000;
    /* vermelho como na imagem fornecida */
    background-size: cover;
    color: white;
    font-family: tahoma;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0px;
    height: 80px;
    width: 100%;

}



/* Drone C */
.produto__3 {
    border: 0.5px solid #1b8e99;
    width: 300px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 376px;


}

/* título Drone C */
.produto__3 h1 {
    background-color: #1b8e99;
    color: white;
    margin: 0px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
    font-family: tahoma;

}

/* Parágrafo Drone B */
.produto__3 p {
    text-align: left;
    color: #1b8e99;
    font-family: tahoma;
    font-size: 13px;
    padding: 10px;

    /* Serviços */

    .servicos {
        display: flex;
        justify-content: space-between;
    }

    .servicos p {
        color: #1c8e99;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 0px;
    }

    .servicos img {
        height: 75px;
        width: 125px;

    }



    .linha {
        position: relative;
        height: 3px;
        width: 100%;
        border: none;
        background-color: #1c8e99;
        margin: 45px 0px 0px;
        right: 9.5%;


    }

    /* Blocos */
    .blocos-servicos {
        display: flex;
        justify-content: center;
        gap: 40px;
        padding: 0px;
        margin-top: 20px;

    }

    .bloco-servicos1 {
        border: 0.5px solid #660000;
        border-bottom-width: 8px;
        padding: 0px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        height: 320px;
        width: 300px;
    }

    #titulo-servicos1 {
        font-family: Tahoma;
        font-size: 17px;
        font-weight: bold;
        margin: 0px;
        margin-top: 5px;
        margin-left: 10px;
        color: #660000;

    }

    #texto-servicos1 {
        font-family: Tahoma;
        font-size: 13px;
        font-weight: 0;
        color: #660000;
        padding: 8px;
        margin-top: 10px;
        text-align: justify;
    }

    .bloco-servicos2 {
        border: 0.5px solid #1b8e99;
        border-bottom-width: 8px;
        padding: 0px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        height: 320px;
        width: 300px;
    }

    #titulo-servicos2 {
        font-family: Tahoma;
        font-size: 17px;
        font-weight: bold;
        margin: 0px;
        margin-top: 5px;
        margin-left: 10px;
        color: #1b8e99;

    }

    #texto-servicos2 {
        font-family: Tahoma;
        font-size: 13px;
        font-weight: 0;
        color: #1b8e99;
        padding: 8px;
        margin-top: 10px;
        text-align: justify;
    }

    .bloco-servicos3 {
        border: 0.5px solid #660000;
        border-bottom-width: 8px;
        padding: 0px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        height: 320px;
        width: 300px;
    }

    #titulo-servicos3 {
        font-family: Tahoma;
        font-size: 17px;
        font-weight: bold;
        margin: 0px;
        margin-top: 5px;
        margin-left: 10px;
        color: #660000;

    }

    #texto-servicos3 {
        font-family: Tahoma;
        font-size: 13px;
        font-weight: 0;
        color: #660000;
        padding: 8px;
        margin-top: 10px;
        text-align: justify;
    }
}